<!-- wp:template-part {"slug":"header","tagName":"header","className":"flagship-site-header"} /-->

<!-- wp:template-part {"slug":"hero","tagName":"section"} /-->

<!-- wp:template-part {"slug":"about","tagName":"section"} /-->
<!-- wp:template-part {"slug":"counters","tagName":"section"} /-->
<!-- wp:template-part {"slug":"capabilities","tagName":"section"} /-->
<!-- wp:template-part {"slug":"insights","tagName":"section"} /-->
<!-- wp:template-part {"slug":"contact","tagName":"section"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
