<!-- wp:template-part {"slug":"header-en","tagName":"header","className":"flagship-site-header"} /-->

<!-- wp:main {"tagName":"main"} -->
<main class="wp-block-main">
	<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide">
		<!-- wp:post-title {"level":1,"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|medium"}}}} /-->
		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:main -->

<!-- wp:template-part {"slug":"footer-en","tagName":"footer"} /-->
