<!-- wp:template-part {"slug":"header","tagName":"header","className":"flagship-site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide">
		<!-- wp:post-title {"level":1,"align":"wide"} /-->
		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

		<!-- wp:query {"queryId":3,"query":{"perPage":100,"pages":0,"offset":0,"postType":"board_member","order":"asc","orderBy":"menu_order","author":"","search":"","exclude":[],"sticky":"","inherit":false},"align":"wide","layout":{"type":"constrained"}} -->
		<div class="wp-block-query alignwide">
			<!-- wp:post-template {"layout":{"type":"grid","columnCount":4}} -->
				<!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/4","scale":"cover","sizeSlug":"large"} /-->
				<!-- wp:post-title {"isLink":true,"textAlign":"center","style":{"typography":{"fontSize":"var:preset|font-size|medium"},"spacing":{"margin":{"top":"var:preset|spacing|small","bottom":"0"}}}} /-->
			<!-- /wp:post-template -->
		</div>
		<!-- /wp:query -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
