<!-- wp:template-part {"slug":"header","tagName":"header","className":"flagship-site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide">
		<!-- wp:post-featured-image {"align":"wide","sizeSlug":"large","style":{"spacing":{"margin":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|medium"}}}} /-->
		<!-- wp:post-title {"level":1,"align":"wide"} /-->
		<!-- wp:post-date {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|medium"}}}} /-->
		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
